Ejercicios Tema 4/ejercicio39.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- xsd que equivale al ejercicio5.xml -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="persona">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nombre" type="xs:string"/>
                <xs:element name="apellidos" type="xs:string"/>
                <xs:element name="correo" type="xs:string"/>
                <xs:element name="twitter" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>